<h1 class="mb-1 restaurant-show-title ">
  <i class="fas fa-registered"></i> E S T A
  <i class="fab fa-ello"></i> R A N T
</h1>


<div class="container">
  <div class="row text-center">
    <div class="col">
      <h2 class="crud-show-title">編輯餐廳</h2>
    </div>
  </div>

  <form id="form" action="/restaurants/{{ restaurant._id }}/edit" method="POST" class="needs-validation" novalidate>
    <div class="container text-secondary">
      <div class="row justify-content-md-center mb-4">
        <div class="col-6">
          <div class="form-floating">
            <input type="text" class="form-control" name="name" id="name" placeholder="name"
              value="{{ restaurant.name }}" required>
            <label for="name">餐廳名稱*</label>
            <div class="invalid-feedback">
            </div>
          </div>
        </div>
      </div>

      <div class="row justify-content-md-center mb-4">
        <div class="col-6">
          <div class="form-floating">
            <input type="text" class="form-control" name="name_en" id="name_en" placeholder="name_en"
              value="{{ restaurant.name_en }}">
            <label for="name_en">餐廳別名</label>
          </div>
        </div>
      </div>

      <div class="row justify-content-md-center mb-4">
        <div class="col-6">
          <div class="form-floating">
            <select class="form-select" name="category" id="category" placeholder="category" required>
              <option selected>{{restaurant.category}}</option>
              <option value="美式">美式</option>
              <option value="義式">義式</option>
              <option value="法式">法式</option>
              <option value="泰式">泰式</option>
              <option value="中式料理">中式料理</option>
              <option value="日式料理">日式料理</option>
              <option value="韓式">韓式料理</option>
              <option value="中東料理">中東料理</option>
              <option value="墨西哥料理">墨西哥料理</option>
              <option value="酒吧">酒吧</option>
              <option value="咖啡">咖啡</option>
            </select>
            <label for="category">類型*</label>
          </div>
        </div>
      </div>


      <div class="row justify-content-md-center mb-4">
        <div class="col-6">
          <div class="form-floating">
            <input type="text" class="form-control" name="image" id="image" placeholder="Image URL"
              value="{{ restaurant.image }}" required>
            <label for="image">餐廳照片URL*</label>
            <div class="invalid-feedback">
            </div>
          </div>
        </div>
      </div>

      <div class="row justify-content-md-center mb-4">
        <div class="col-6">
          <div class="form-floating">
            <input type="text" class="form-control" name="phone" id="phone" placeholder="phone"
              value="{{ restaurant.phone }}" required>
            <label for="phone">電話*</label>
          </div>
        </div>
      </div>

      <div class="row justify-content-md-center mb-4">
        <div class="col-6">
          <div class="form-floating">
            <input type="text" class="form-control" name="location" id="location" placeholder="location"
              value="{{ restaurant.location }}" required>
            <label for="location">地址*</label>
          </div>
        </div>
      </div>

      <div class="row justify-content-md-center mb-4">
        <div class="col-6">
          <div class="form-floating">
            <input type="text" class="form-control" name="google_map" id="google_map" placeholder="google＿map"
              value="{{ restaurant.google_map }}">
            <label for="google_map">Google Map</label>
          </div>
        </div>
      </div>

      <div class="row justify-content-md-center mb-4">
        <div class="col-6">
          <div class="form-floating">
            <input type="number" class="form-control" name="rating" id="rating" placeholder="rating" min="1" max="5"
              step="0.1" value="{{ restaurant.rating }}" required>
            <label for="rating">評分*</label>
          </div>
        </div>
      </div>

      <div class="row justify-content-md-center mb-4">
        <div class="col-6">
          <div class="form-floating">
            <textarea class="form-control" name="description" id="description" placeholder="description"
              style="height: 100px">{{ restaurant.description }}</textarea>
            <label for="description">簡介</label>
          </div>
        </div>
      </div>

      <div class="row justify-content-md-center mb-4">
        <div class="col-3 d-flex justify-content-md-end">
          <a href="/" class="btn btn-light border-secondary btn-lg">Back</a>
        </div>
        <div class="col-3 d-flex justify-content-md-start">
          <button id="btn-save" type="submit" class="btn btn-secondary btn-lg">Save</button>
        </div>
      </div>
    </div>
</div>
</form>
</div>

<script>
  const form = document.querySelector('#form')
  const submitButton = document.querySelector('#btn-save')

  form.addEventListener('submit', function onFormSubmitted(event) {
    if (!form.checkValidity()) {
      event.stopPropagation()
      event.preventDefault()
    }
  })

  submitButton.addEventListener('click', function onSubmitButtonClicked(event) {
    form.classList.add('was-validated')
  })


</script>